body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; */
    /* background-color: #f7f8fa; */
    font-family: 'Times New Roman', Times, serif;
    background-color: antiquewhite;
    text-align: center;
  }

  .title {
    font-size: 28px;
    margin-bottom: 5px !important;
  }
  
  .container {
    padding: 20px;
    width: 600px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    gap: 20px;
  }

  .subcontainer{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 3em;
  }
  
 
  .subcontainer-logo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
  }
  
  .fact-check-button {
    background-color:rgb(133, 46, 46); 
    color: white;
    padding: 10px 20px;
    border: none;
    /* border-radius: 13px; */
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* transition: background-color 0.2s ease-in-out; */
    font-family: "Rubens"
  }
  
  .fact-check-button:hover {
    background-color:  rgb(220, 94, 94);
  }
  
  .fact-check-button:active {
    background-color: red;
  }
  
  /* Optional: Add some animation on hover */
  .fact-check-button:hover {
    /* animation: pulse-animation 1s infinite; */
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 122, 255, 0.7);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 122, 255, 0);
    }
  }
  

.show-problems-button {
    width: 200px;
    background-color: #a08e76; /* Orange */
    color: white;
    padding: 10px 20px;
    border: none;
    /* border-radius: 13px; */
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* transition: background-color 0.2s ease-in-out; */
    font-family: 'Times New Roman', Times, serif;
  }
  
  .show-problems-button:hover {
    background-color: #c8a167;
  }
  
  .show-problems-button:active {
    background-color: #8f5700;
  }
  
  .problem-list {
    margin-top: 15px;
    text-align: left;
    display: none; /* Hidden by default */
  }
  
  .problem-item {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .problem-item a {
    color: #007aff;
    text-decoration: none;
  }
  